provider = "keycloak-oidc"
http_address = "0.0.0.0:4180"
redirect_url = "${OAUTH2_PROXY_REDIRECT_URL}"
oidc_issuer_url = "${OAUTH2_PROXY_OIDC_ISSUER_URL}"
email_domains = [ "*" ]
upstreams = [ "http://webid:80/" ]
pass_authorization_header = true
pass_access_token = true
set_xauthrequest = true
set_authorization_header = true
pass_user_headers = true
skip_provider_button = true
cookie_secure = false
cookie_refresh = "5m"
cookie_expire = "8h"
reverse_proxy = true
scope = "openid profile email roles"
whitelist_domains = [ ".localhost" ]
